In [2]:
# imports
import modules.data_preparation.read_energy_dataset as ds

/opt/anaconda3/lib/python3.8/site-packages/dask/dataframe/utils.py:369: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  _numeric_index_types = (pd.Int64Index, pd.Float64Index, pd.UInt64Index)
/opt/anaconda3/lib/python3.8/site-packages/dask/dataframe/utils.py:369: FutureWarning: pandas.Float64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  _numeric_index_types = (pd.Int64Index, pd.Float64Index, pd.UInt64Index)
/opt/anaconda3/lib/python3.8/site-packages/dask/dataframe/utils.py:369: FutureWarning: pandas.UInt64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  _numeric_index_types = (pd.Int64Index, pd.Float64Index, pd.UInt64Index)

In [9]:
dataset = ds.EnergyDataset('../data/dataset1.csv')

In [10]:
dataset.get_data_by_equipement_id('eq_it049959b_chiller_compression_01').head(3)

,building_id,equipment_type,equipment_type_and_sub_type,equipment_id,timestamp_local,energy_input_in_mwh,energy_output_in_mwh
177,it049959b,chiller,chiller_compression,eq_it049959b_chiller_compression_01,2022-03-24 02:00:00,0,0
178,it049959b,chiller,chiller_compression,eq_it049959b_chiller_compression_01,2022-03-24 14:00:00,0,0
179,it049959b,chiller,chiller_compression,eq_it049959b_chiller_compression_01,2022-03-24 23:00:00,0,0

In [11]:
dataset.format_energy_to_numeric()
dataset.format_to_timeseries()

In [12]:
dataset.get_data_by_equipement_id('eq_it049959b_chiller_compression_01').head(3)

,building_id,equipment_type,equipment_type_and_sub_type,equipment_id,energy_input_in_mwh,energy_output_in_mwh
timestamp_local,,,,,,
2021-01-01 01:00:00,it049959b,chiller,chiller_compression,eq_it049959b_chiller_compression_01,0.0,0.0
2021-01-01 02:00:00,it049959b,chiller,chiller_compression,eq_it049959b_chiller_compression_01,0.0,0.0
2021-01-01 03:00:00,it049959b,chiller,chiller_compression,eq_it049959b_chiller_compression_01,0.0,0.0